.image-card {
  width: 230px;
  height: 180px;
  margin: 10px;
  border: solid lightgray;
  position: relative;
  background-color: #17A2B8;
}

.image-card > * {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image-card-title {
  color: white;
  text-align: center;
}
