@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>Loading...</div>
<noscript>Oh no, your browser seems to have the JavaScript disabled. Please, enable it to load the page.</noscript>
    
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
