<article class="m-3">
    <h2>Contribute to Draw-Sequence</h2>
    <p>
        Here you can add your number to the sequence, either by posting your own
        image with next number of the sequence, or by drawing it on the panel
        below.
    </p>
    <p>Next number to draw: {{ nextToDraw }}.</p>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" routerLink="draw" routerLinkActive="active">Draw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="upload" routerLinkActive="active">Upload a picture</a>
        </li>
    </ul>
    <router-outlet (activate)="updateImageCount()" (ocrSucceeded)="console.log('ah');"></router-outlet>
</article>
