.image-card {
  width: 230px;
  height: 180px;
  margin: 10px;
  border: solid lightgray;
  position: relative;
}

.image-card > * {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


h2 {
    margin: 10px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

router-outlet {
  display: none;
}

article > h2 {
  margin: 10px;
}
