<article class="m-3">
    <h2>Counting list</h2>
    <!-- <p v-if="isLoading">Loading...</p>
    <ul
      v-else-if="visibleCards.length"
      class="list-container"
      ref="container"
      @scroll="scrollHandler"
    >
      <li
        v-for="img in visibleCards"
        :key="img.index"
        is="card"
        :id="img.index"
        :url="img.imageUrl"
      ></li>
    </ul>
    <p v-else>
      There is nothing there now, why don't you check out the
      <router-link to="/add">Contribute</router-link> tab?
    </p> -->
  </article>
