<article class="m-3">
    <h2>Counting list</h2>
    <p *ngIf="isLoading">Loading...</p>
    <ul #container
      *ngIf="!isLoading && visibleCards.length"
      class="list-container"
      (scroll)="handleScroll()">
      <li class="image-card"
        *ngFor="let img of visibleCards"
        [imageUrl]="img.imageUrl"
        [imageId]="img.imageId">
      </li>
    </ul>
    <p *ngIf="!isLoading && !visibleCards.length">
      There is nothing there now, why don't you check out the <a routerLink="contribute">Draw</a> tab?
    </p>
  </article>
